<app-navbar></app-navbar>
<div class="about-section">
  <h1>About Us</h1>
  <p>At Wanderlust Adventures, we believe that travel isn't just about reaching a destination; it's about the
    experiences, the memories, and the stories that unfold along the way. Our passion for exploration and discovery has
    fueled our mission to curate extraordinary journeys that immerse you in the heart and soul of every destination.</p><br><br>
  <h2>Our Story</h2>
  <p>Founded by a team of avid travelers with a shared love for adventure, Wanderlust Adventures was born out of the
    desire to inspire others to embark on unforgettable voyages. With a combined wealth of experience in travel,
    hospitality, and exploration, we set out to create a platform that offers unparalleled access to the world's most
    captivating destinations.</p><br><br>
  <h2>What We Offer</h2>
  <p>At Wanderlust Adventures, we pride ourselves on offering a diverse array of trips to suit every traveler's
    interests, preferences, and budgets. Whether you're seeking an adrenaline-fueled trek through rugged mountain
    ranges, a serene escape to a tropical paradise, or a culturally enriching journey through ancient cities, we've got
    you covered.</p><br><br>
  <h2>Why Choose Us?</h2>
  <p>
    <li>Expertise: Our team consists of seasoned travel experts who are dedicated to crafting meticulously planned
      itineraries that showcase the very best each destination has to offer.</li><br>
    <li>Authentic Experiences: We believe in immersing ourselves in the local culture, forging genuine connections with
      communities, and providing authentic experiences that go beyond the typical tourist trail.</li><br>
    <li>Flexibility: We understand that every traveler is unique, which is why we offer customizable trips tailored to
      your individual interests, preferences, and schedules.</li><br>
    <li>Sustainability: We are committed to responsible travel practices that prioritize environmental conservation,
      support local economies, and respect cultural heritage.</li>
  </p><br><br>
  <h2>Get in Touch</h2>
  <p>Ready to start planning your next adventure? Explore our collection of trips, get in touch with our team of travel
    experts, and let us turn your travel dreams into reality. Welcome to Wanderlust Adventures - where the world is
    yours to discover.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" style="display: flex; justify-content: center;">
  <div class="column">
    <div class="card">
      <img src="../../../assets/K_Photo.jpg" alt="Kevin" style="width:100%">
      <div class="container">
        <h2>Kevin Patel</h2>
        <p class="title">CEO & Founder</p>
        <p>B.E. in Computer Engineering</p>
        <p>kevinpatel&#64;gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
