.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.location-detail {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.location-detail .left,
.location-detail .right {
  padding: 20px;
}

.location-detail .left img {
  width: 450px;
  height: 450px;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.text {
  margin-left: 20px;
}

.desc, .cat {
  display: block;
}

.itinerary ul {
  list-style-type: none;
}

.itinerary li.desc {
  padding: 5px 0;
}

button.mat-flat-button {
  padding: 10px 20px;
  background-color: #34c759;
  color: white;
  border: none;
  border-radius: 5px;
}
